<section class="hero">
<div class="hero__text">
  <h2 class="hero__text-title">Donec quis massa ultrices</h2>
  <p class="hero__text-dsc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus nulla sed odio ultricies posuere. Curabitur vitae turpis sed dui placerat auctor sed in nulla. In hac habitasse platea dictumst. Nulla facilisi. Suspendisse id nibh vitae tellus bibendum volutpat vitae ut ante. Suspendisse ut massa eu elit sagittis malesuada.</p>
  <button class="hero__btn">Shop</button>
</div>
<div class="hero__img">
  <p>IMAGE</p>
</div>
</section>