:root {
  --color-gunmetal: #293132;
  /* --color-gunmetal: #2c363f; */
  --color-cadet-grey: #a0a4b8;
  --color-black-shadows: #bcabae;
  --color-bone: #e7d8c9;
  --color-ghost-white: #fcf7ff;
  --color-dust-storm: #eac8ca;
  --font-main: 'Bai Jamjuree', sans-serif;
}
