/* Common */
@import './common/_colors.css';
@import './common/_breakpoints.css';
@import './common/_common.css';
/* Libs */
@import './libs/normalize';
/* Modules */
@import '../modules/header/header.css';
@import '../modules/hero/hero.css';
@import '../modules/shop/shop.css';


.base-strip {
  width: 100%;
  background: var(--color-dust-storm);
  position: relative;
  opacity: .6;
  margin-top: 70px;
  max-height: 340px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;

  &-inner {
    background: var(--color-cadet-grey);
    position: absolute;
    opacity: .6;
    left: 54px;
    height: 302px;
    top: -61px;
    width: 451px;
  }

  &__text {
    font-size: 6rem;
    color: white;
    font-family: var(--font-main);
  }
}