/* Common */
@import './common/_colors.css';
@import './common/_breakpoints.css';
@import './common/_common.css';
/* Libs */
@import './libs/normalize';
/* Modules */
@import '../modules/header/header.css';
@import '../modules/hero/hero.css';
@import '../modules/shop/shop.css';


.base-strip {
  width: 100%;
  /* height: 300px; */
  background: var(--color-dust-storm);
  position: relative;
  /* bottom: 30px; */
  /* position: absolute; */
  opacity: .6;
  margin-top: 70px;
  max-height: 340px;

  &-inner {
    background: var(--color-cadet-grey);
    position: absolute;
    opacity: .6;
    left: 54px;
    height: 302px;
    top: -61px;
    width: 451px;
  }
}