<header class="header">
<div class="header__title">
  <h1>
    <a href="/">handmade</a>  
  </h1>
</div>
  <button class="header__btn header__btn--active">{{ burgerMenu }}</button>
  <button class="header__btn header__btn-close">{{ close }}</button>
</header>
<ul class="header__nav">
  <ul class="header__left header__list">
    <li class="header__item">
      <a href="./browse.html">Shop</a>
    </li>
    <li class="header__item">
      <a href="">About</a>
    </li>
  </ul>
  <ul class="header__right header__list">
    <li class="header__item">
      <a href="">Search</a>
    </li>
    <li class="header__item">
      <a href="">Cart</a>
    </li>
  </ul>
</ul>
