<header class="header">
<div class="header__title">
  <h1>NAME</h1>
</div>
  <button class="header__btn">{{ burgerMenu }}</button>
</header>
<ul class="header__nav">
  <ul class="header__left header__list">
    <li class="header__item">Shop</li>
    <li class="header__item">About</li>
  </ul>
  <ul class="header__right header__list">
    <li class="header__item">Search</li>
    <li class="header__item">Cart</li>
  </ul>
</ul>
