.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  // width: 95%;
  position: fixed;
  width: 100%;
  background: white;
  transition: background .3s ease-in-out;
  z-index: 9999;
  height: 80px;

  &--open {
    height: 161px;
    border-bottom: 3px solid var(--color-gunmetal);
  }

  &--bkgd {
    background: var(--color-ghost-white);
  }

  &__title {
    position: fixed;
    text-align: center;
    align-self: center;

    h1 a {
      font-family: var(--font-main);
      font-weight: 200;
      text-align: center;
      line-height: normal;
      color: var(--color-gunmetal);
      align-self: center;
      margin: 18px 0 -12px;
      position: relative;
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 3px;
      text-decoration: none;

      @media (--tabelet-portrait) {
        font-size: 3.55rem;
        letter-spacing: 8px;
      }

      &:hover {
        text-transform: lowercase;
        font-size: 3rem;
        letter-spacing: 5.1px;
        font-weight: normal;
      }
    }

    span {
      font-family: var(--font-main);
      font-weight: 200;
      font-size: 1.8rem;
    }
  }

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 16px;
    line-height: 1.2;
    right: 16px;
    display: none;

    @media (--tablet-portrait) {
      display: none;
    }

    &--active {
      display: block;
    }

    svg {
      height: 20px;
      width: 20px;
    }

    .burger-menu {
      fill: var(--color-gunmetal);
    }
  }

  &__nav {
    padding-top: 4px;
    display: none;
    top: 47px;
    right: 16px;
    z-index: 9999999;
    position: fixed;
    /* background: var(--color-ghost-white); */
    max-width: 900px;

    @media (--tablet-portrait) {
      right: auto;
      display: flex;
      justify-content: space-between;
      padding: 12px 20px;
      width: 100%;
      position: absolute;
      top: 84px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-transition {
      background: transparent;
      transition: background 1s ease-in-out;
    }

    &--open {
      display: block;
    }

    &--fixed {
      @media (--tablet-portrait) {
        position: fixed;
        top: 26px;
      }
    }
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin: 7px 0;
    cursor: pointer;
    position: relative;

    @media (--tablet-portrait) {
      display: inline;
      margin: 0 10px;
    }

    a {
      font-family: var(--font-main);
      font-size: 1.6rem;
      font-weight: light;
      color: var(--color-gunmetal);
      text-align: right;
      text-decoration: none;

      &:hover {
        font-weight: bold;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
          height: 2px;
          background: var(--color-dust-storm);
        }
      }
    }
  }
}
